.idea/
.pytest_cache
.coverage
htmlcov
draft.py
supervisely/split_n_merge/input
supervisely/split_n_merge/output_merged
supervisely/split_n_merge/output_split
supervisely/davis_visualizer/input
supervisely/davis_visualizer/output
supervisely/dauto_clouds/output
supervisely/dauto_clouds/input
asyncio_downloader